# Multiple Linear Regression

## Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [9]:
dataset = pd.read_csv('50_Startups.csv')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

## Splitting the dataset into the Training set and Test set

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

## Training the model on the Training set

In [6]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

## Predicting the Test set results

In [7]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
pd.DataFrame(data={'Predicted value':y_pred.flatten(),'Actual Value':y_test.flatten()})

    Predicted value  Actual Value
0     104054.442939     103282.38
1     132719.345970     144259.40
2     133640.268309     146121.95
3      72294.769115      77798.83
4     179685.622278     191050.39
5     114508.975720     105008.31
6      66305.230699      81229.06
7      98297.693266      97483.56
8     114277.918949     110352.25
9     169112.360957     166187.94
10     96257.401521      96778.92
11     87916.972422      96479.51
12    110687.339426     105733.54
13     90670.833781      96712.80
14    127780.635396     124266.90

## Evaluating the Model Performance

In [8]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.9355188337118219